:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     214,204,207;
--color-neutral-100:    180,162,166;
--color-neutral-200:    146,119,126;
--color-neutral-300:    105,84,89;
--color-neutral-400:    63,50,53;
--color-neutral-500:    20,16,17;
--color-neutral-600:    0,0,0;
--color-neutral-700:    0,0,0;
--color-neutral-800:    0,0,0;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    251,222,241;
--color-primary-400:    244,152,211;
--color-primary-500:    237,83,182;
--color-primary-600:    233,46,166;
--color-primary-700:    216,23,147;
--color-primary-800:    179,19,122;
--color-primary-900:    142,15,97;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    246,211,251;
--color-secondary-400:    231,140,245;
--color-secondary-500:    217,70,239;
--color-secondary-600:    209,32,236;
--color-secondary-700:    184,18,209;
--color-secondary-800:    151,15,172;
--color-secondary-900:    118,12,134;
}
